@font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope/Manrope-Regular.ttf);
    src: url(../fonts/Manrope/Manrope-Medium.ttf);
    src: url(../fonts/Manrope/Manrope-Bold.ttf);
    src: url(../fonts/Manrope/Manrope-Light.ttf);
}